services:
  backend:
    ports:
      - "4000:4000"
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules

  frontend:
    ports:
      - "5173:5173"
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules

  rag:
    ports:
      - "8000:8000"
    build:
      context: ./RAG
      dockerfile: Dockerfile
    volumes:
      - ./RAG:/app
    depends_on:
      - document-loader
    env_file:
      - .env

  document-loader:
    build:
      context: ./document-loader
      dockerfile: Dockerfile
    env_file:
      - .env

volumes:
  backend_node_modules:
  frontend_node_modules: