name: Build and push Docker images

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
      document-loader: ${{ steps.filter.outputs.document-loader }}
      RAG: ${{ steps.filter.outputs.RAG }}
    
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend: 
              - "backend/**"
            frontend:
              - "frontend/**"
            document-loader: 
              - "document-loader/**"
            RAG:
              - "RAG/**"

  build-backend:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DIGITALOCEAN_REGISTRY }}
          username: ${{ secrets.DIGITALOCEAN_EMAIL }}
          password: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Build backend's Docker image
        run: |
          cd backend
          docker build -t ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:backend .
          
      
      - name: Push backend's image to the registry
        run: |
          docker push ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:backend 
    
  build-frontend:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DIGITALOCEAN_REGISTRY }}
          username: ${{ secrets.DIGITALOCEAN_EMAIL }}
          password: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Build frontend's Docker image
        run: |
          cd frontend
          docker build -t ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:frontend .
          
      
      - name: Push frontend's image to the registry
        run: |
          docker push ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:frontend 
  
  build-document-loader:
    needs: detect-changes
    if: needs.detect-changes.outputs.document-loader == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DIGITALOCEAN_REGISTRY }}
          username: ${{ secrets.DIGITALOCEAN_EMAIL }}
          password: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Build document-loader's Docker image
        run: |
          cd document-loader
          docker build -t ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:document-loader .
          
      
      - name: Push document-loader's image to the registry
        run: |
          docker push ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:document-loader 

  build-RAG:
    needs: detect-changes
    if: needs.detect-changes.outputs.RAG == 'true'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Login to DigitalOcean Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DIGITALOCEAN_REGISTRY }}
          username: ${{ secrets.DIGITALOCEAN_EMAIL }}
          password: ${{ secrets.DIGITALOCEAN_TOKEN }}

      - name: Build RAG's Docker image
        run: |
          cd RAG
          docker build -t ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:rag .
          
      
      - name: Push RAG's image to the registry
        run: |
          docker push ${{ secrets.DIGITALOCEAN_REGISTRY}}/ragtivity:rag 

  webhook-registry:
    needs: 
      - detect-changes
      - build-backend
      - build-frontend
      - build-document-loader
      - build-RAG
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Create List of Changed Paths
        id: create-list
        run: |
          list=()
          if [[ "${{ steps.filter.outputs.backend }}" == "true" ]]; then
              list+=("backend")
          fi
          if [[ "${{ steps.filter.outputs.frontend }}" == "true" ]]; then
              list+=("frontend")
          fi
          if [[ "${{ steps.filter.outputs.document-loader }}" == "true" ]]; then
              list+=("document-loader")
          fi
          if [[ "${{ steps.filter.outputs.RAG }}" == "true" ]]; then
              list+=("rag")
          fi

          # Convert array to comma-separated string
          echo "changed_paths=${list[*]}" >> $GITHUB_ENV
          echo ${{ env.changed_paths }}

      - name: cURL request to webhook server
        run: |
          echo ${{ env.changed_paths }}
          json_payload=${jq --compact-output --null-input '$ARGS.positional' --args -- "${{ env.changed_paths }}"}
          echo $json_payload

          curl -X POST \
              -H "Content-Type: application/json" \
              -d '{"updated": [\"${{ env.changed_paths }}\"]}' \
              ${{ secrets.REGISTRY_WEBHOOK_ENDPOINT }}

  cleanup-registry:
    needs:
      - build-backend
      - build-frontend
      - build-document-loader
      - build-RAG
    if: always()
    runs-on: ubuntu-latest

    steps:
      - name: Install doctl 
        uses: digitalocean/action-doctl@v2
        with: 
          token: ${{ secrets.DIGITALOCEAN_TOKEN }}
      
      - name: Cleanup dangling images in the registry
        run: doctl registry garbage-collection start --include-untagged-manifests --force